::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar {
  width: 6px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 